<footer class="main-footer">
    <div class="main-footer-left-box">
        <div class="footer-box">
            <a href="/products"><h3 class="footer-titles">Productos</h3></a>
            <ul id="footer-product"class="footer-list no-mobile-list">
                <li><a href="/products/aritos">Aros</a></li>
                <li><a href="/products/anillos">Anillos y midis</a></li>
                <li><a href="/products/pulseras">Pulseras</a></li>
                <li><a href="/products/collares">Collares</a></li>
            </ul>
        </div>
        <div class="footer-box">
            <a href="#"><h3 class="footer-titles">Mi cuenta</h3></a>
            <ul class="footer-list no-mobile-list">
                <li><a href="#">Datos personales</a></li>
                <li><a href="#">Seguimiento de envío</a></li>
                <li><a href="#">Pedidos</a></li>
                <li><a href="#">Gift Cards</a></li>
            </ul>
        </div>
        <div class="footer-box">
            <a href="#"><h3 class="footer-titles">Mirá También</h3></a>
            <ul class="footer-list no-mobile-list">
                <li><a href="#">Preguntas frecuentes</a></li>
                <li><a href="#">¿Cómo saber el talle de mi anillo?</a></li>
                <li><a href="#">Términos y Condiciones</a></li>
                <li><a href="#">Devoluciones y Cambios</a></li>
                <li><a href="#">Formas de Pago y envío</a></li>
                <li><a href="/aboutUs">Sobre Nosotras</a></li>
            </ul>
        </div>
    </div>    
    <div class="main-footer-right-box">
        <div class="footer-box">
            <ul class="footer-list icons-box" >
                <a href="http://surl.li/yqtg"target="_blank"><i class="fas fa-map-marker-alt location-icon"></i><li>Cochabamba 1282 - Córdoba - Argentina</li></a>
                <a href="https://api.whatsapp.com/send?phone=5493512011166"target="_blank"><i class="fab fa-whatsapp wtsp-icon"></i><li>+5493512011166</li></a>
                <a href="https://www.instagram.com/rukha.accesorios/"target="_blank"><i class="fab fa-instagram insta-icon"></i><li>rukha.accesorios</li></a>
                <a href="http://surl.li/yqtk"target="_blank"><i class="fab fa-facebook fcbk-icon"></i><li>Rukha Accesorios</li></a>
                <a href="mailto:rukha.accesorios@gmail.com"target="_blank"><i class="fas fa-envelope mail-icon"></i><li>rukha.accesorios@gmail.com</li></a>
            </ul>
        </div>
    </div>
</footer>