<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('./partials/head') %>
  <title>Home</title>
</head>
<body style="background: #f7f7f7;">
<!-- Header -->
<%- include('./partials/header') %> 
<!-- Main -->
  
      <h1 class="aboutUS" style="display: block; text-align: center; margin: 20px;" >Que es Rukha?</h1>  
      <div class="content-block" style="display:flex; justify-content: space-between; margin: 50px;">
        <div class="content-block-img" ><img src="/img/1631755199094.jpg">
        </div>
        <div class="content-block-text" style="margin: 20px 70px 20px 70px; font-size: 200%;">
            <p>Somos Rukha Accesorios, dos amigas que decidimos crear un microemprendimiento y compartir, ademas de la amistad, un proyecto que nos vincule y nos apasione. Es así como, de a poquito, logramos tener un negocio propio en el que amamos trabajar!</p>
        </div>
    </div>
     

    

<!-- Footer -->
<%- include('./partials/footer') %>     
</body>
</html>