<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="css/estilos.css" rel="stylesheet">
    <script src="https://kit.fontawesome.com/d51174efa6.js" crossorigin="anonymous"></script>
    <title>Carrito de compras</title>
</head>

<body>
    <div id="carrito">
        <div class="carrito-header">
            <h1>Producto</h1>
        </div>
        <div class="cajaProducto">
            <img src="/img/anillo.jpeg">
            <div class="descripcion">
                <h4>MAXI PLUMA BOHO</h4>
                <p>$ 770</p>
                <div class="cant">
                    <button> <i class="fas fa-minus"></i> </button>
                    <input class="amount-input" type="number" name="numero">
                    <button> <i class="fas fa-plus"></i> </button>
                </div>
            </div>
            <div class="eliminar">
                <p>$ 770</p>
                <i class="fas fa-trash-alt"></i>
            </div>
        </div>
        <div class="cajaProducto">
            <img src="/img/cadena.jpeg">
            <div class="descripcion">
                <h4>CADENA CLASICA FINA 50 CM</h4>
                <p>$ 1550</p>
                <div class="cant">
                    <button> <i class="fas fa-minus"></i> </button>
                    <input class="amount-input" type="number" name="numero">
                    <button> <i class="fas fa-plus"></i> </button>
                </div>
            </div>
            <div class="eliminar">
                <p>$ 1550</p>
                <i class="fas fa-trash-alt"></i>
            </div>
        </div>
        <div class="subtotal">
            <h3>SUBTOTAL (sin envio): $ 2320</h3>
            <p>FALTAN $550 PARA ACCEDER AL PRECIO MAYORISTA</p>
        </div>

        <div class="envio">
            <div class="envio-boton">
                <input type="text" name="cod-postal" style="height: 30px;" placeholder="Codigo Postal">
                <button style="height: 30px;">Calcular Envio</button>
                <br>
                <a href="">No se mi codigo postal</a>
            </div>
        </div>

        <div class="carrito-footer">
            <h2>TOTAL: $ 2320</h2>
            <button>INICIAR COMPRA</button>
            <a href="#" style="display: inline;">SEGUIR COMPRANDO</a>
        </div>
    </div>
</body>

</html>
