<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/8a72b7f89b.js" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400&display=swap" rel="stylesheet">
    <link href="css/estilos.css" rel="stylesheet">
    <title>Home</title>
</head>
<body>
    <header class="main-header">
        <div class="main-header-top-bar">
            <img src="/img/logo-transparente.png" class="logo">
            <div class="search-bar-box">
                <input class="search-bar" type="text" placeholder="Buscar productos...">
                <button type="submit" class="search-bar-btn"><i class="fas fa-search search-icon"></i></button>
            </div>
            <ul class="nav-right">
                <li><a href="/Login"><i class="fas fa-user-circle fa-2x login-icon"></i><br>Entrar </a><a id="registrarse" href="/Registro">|  Registrarse</a></li>
                <li><a href="/Carrito"><i class="fas fa-shopping-cart fa-2x chart-icon"></i><br> Ir al Carrito</a></li>
                <li><a href=""><i class="fas fa-heart fa-2x fav-icon"></i><br> Favoritos</a></li>
            </ul>
        </div>
        <div class="burger-menu">
            <i class="fas fa-bars burger-icon"></i>
        </div>
        <nav class="main-header-bottom-bar">
            <ul class="nav-left">
                <li><a href="#">Productos</i></a><i class="fas fa-chevron-down down-arrow"></i></li>
                <li><a href="#">Promociones</a></li>
                <li><a href="#">Sobre Nosotras</a></li>
                <li><a href="#">Outlet</a></li>
                <li><a href="#">Contacto</a></li>
            </ul>
        </nav>
    </header>    
    <main style="height: 1400px">
    </main>
    <footer class="main-footer">
        <div class="main-footer-left-box">
            <div class="footer-box">
                <h3 class="footer-titles">Productos</h3>
                <ul class="footer-list">
                    <li><a href="#">Aros</a></li>
                    <li><a href="#">Anillos y midis</a></li>
                    <li><a href="#">Cadenas y Dijes</a></li>
                    <li><a href="#">Pulseras</a></li>
                    <li><a href="#">Tobilleras</a></li>
                    <li><a href="#">Accesorios</a></li>
                    <li><a href="#">Ruanas y pañuelos</a></li>
                    <li><a href="#">Ellos</a></li>
                    <li><a href="#">Outlet (Únicos - Sin cambio)</a></li>
                </ul>
            </div>
            <div class="footer-box">
                <h3 class="footer-titles">Mi cuenta</h3>
                <ul class="footer-list">
                    <li><a href="#">Datos personales</a></li>
                    <li><a href="#">Seguimiento de envío</a></li>
                    <li><a href="#">Pedidos</a></li>
                    <li><a href="#">Gift Cards</a></li>
                    <li><a href="#">Tobilleras</a></li>
                </ul>
            </div>
            <div class="footer-box">
                <h3 class="footer-titles">Mirá También</h3>
                <ul class="footer-list">
                    <li><a href="#">Preguntas frecuentes</a></li>
                    <li><a href="#">¿Cómo saber el talle de mi anillo?</a></li>
                    <li><a href="#">Términos y Condiciones</a></li>
                    <li><a href="#">Devoluciones y Cambios</a></li>
                    <li><a href="#">Formas de Pago y envío</a></li>
                    <li><a href="#">Sobre Nosotras</a></li>
                </ul>
            </div>
        </div>    
        <div class="main-footer-right-box">
            <div class="footer-box">
                <ul class="footer-list" >
                    <a href="http://surl.li/yqtg"target="_blank"><i class="fas fa-map-marker-alt location-icon"></i><li>Cochabamba 1282 - Córdoba - Argentina</li></a>
                    <a href="https://api.whatsapp.com/send?phone=5493512011166"target="_blank"></a><i class="fab fa-whatsapp wtsp-icon"></i><li>+5493512011166</li></a>
                    <a href="https://www.instagram.com/rukha.accesorios/"target="_blank"></a><i class="fab fa-instagram insta-icon"></i><li>rukha.accesorios</li></a>
                    <a href="http://surl.li/yqtk"target="_blank"></a><i class="fab fa-facebook fcbk-icon"></i><li>Rukha Accesorios</li></a>
                    <a href="mailto:rukha.accesorios@gmail.com"target="_blank"></a><i class="fas fa-envelope mail-icon"></i><li>rukha.accesorios@gmail.com</li></a>
                </ul>
            </div>
        </div>
    </footer>
</body>
</html>