<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('partials/head') %>
  <title>Home</title>
</head>
<body>
<!-- Header -->
<%- include('partials/header') %> 
<!-- Main -->
  <section>
    <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-inner banner">
        <div class="carousel-item active">
          <img src="/img/slide-1627834740299-4851405978-9fa6abdd04cff77e18d3f39f57c3cc351627834746-1920-1920.png" class="d-block w-100" style="transform: translateY(-15%);" alt="...">
        </div>
        <div class="carousel-item">
          <img src="/img/banner1.jpeg" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
          <img src="/img/banner2.jpeg" class="d-block w-100" alt="...">
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js" integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf" crossorigin="anonymous"></script>
  </section>

  <section class="section-about">
    <div class="row row-catalog">
      <div class="col">
        <h3 class="heading-tertiary u-margin-bottom-small">SOMOS RUKHA</h3>
          <p class="paragraph">
            En Rukha encontras  los accesorios de PLATA 925 más lindos para complementar tu look, y a demás los recibís en tu casa con un solo Click.  Envíos a domicilio todos los días, a todos el país.
          </p>
      </div>
      <div class="col-8">
        <div class="composition">
          <div class="composition__photo composition__photo__position--p1">
            <a href="/products">
              <img src="/img/producto-anillos2.jpeg" alt="Photo 1" class="composition__photo--p1">
              <span class="text-top-left">Anillos</span>
            </a>
          </div>
          <div class="composition__photo composition__photo__position--p3">
            <a href="/products">
              <img src="/img/producto-collares2.jpeg" alt="Photo 3" class="composition__photo--p3">
              <span class="text-top-left">Collares</span>
            </a>                
          </div>
          <div class="composition__photo composition__photo__position--p4">
            <a href="/products">
              <img src="/img/producto-aros2.jpeg" alt="Photo 4" class="composition__photo--p4">
              <span class="text-top-left">Aros</span>
            </a>                
          </div>
          <div class="composition__photo composition__photo__position--p2">          
            <a href="/products">
              <img src="/img/producto-aritos2.jpeg" alt="Photo 2" class="composition__photo--p2">
              <span class="text-top-left">Aritos</span>
            </a>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- Footer -->
  <%- include('partials/footer') %>     
</body>
</html>
