<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="css/estilos.css" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <title>Producto</title>
</head>
<body>
    
    <header></header>
    
    <section class="section-product">
        <div class="row">
            <div class="col-8 section-product-left-side">
                <div class="product-principal-img" >
                    <img src="/img/productos/2000_5f31e6183743c.jpg" alt="" class="principal-photo" >
                </div>

                <br>
                <br>

                <div>
                    <h3 class="title-otras-personas">Otras personas también buscaron</h3>
                    <div class="product-secondary-imgs">
                        <img src="/img/productos/2000_5e978cca7490a.jpg" alt="" class="secondary-photo">
                        <img src="/img/productos/2000_5eff33d99633b.jpg" alt="" class="secondary-photo">
                        <img src="/img/productos/2000_5eff43ca88f1e.jpg" alt="" class="secondary-photo">
                        <img src="/img/productos/2000_5f4579eaa2e41.jpg" alt="" class="secondary-photo">
                    </div>
                </div>
            </div>
            
            <div class="col section-product-right-side">
                <h3>Argolla c/ Hoja Raya 1,1 CM <i class="far fa-heart"></i> <i class="fas fa-share-alt"></i></h3>
                <p class="breadcrum">Página de inicio / PRODUCTOS / AROS / ARGOLLAS / ARGOLLA C/ HOJA RAYA 1,1 CM</p>
                <p class="price">$900</p>

                <label for="medida">Medida:</label>
                <select name="medida" id="medida">
                    <option value="BLANK"></option>
                    <option value="S">S</option>
                    <option value="M">M</option>
                    <option value="L">L</option>
                    <option value="XL">XL</option>
                </select>
                <br>
                <br>
                <div class="input-group mb-3">
                    <button class="btn btn-secondary btn-sm" type="button" id="button-addon1"><i class="fas fa-minus"></i></button>
                    <input type="text" class="amount-input" placeholder="" value="1">
                    <button class="btn btn-secondary btn-sm" type="button" id="button-addon2"><i class="fas fa-plus"></i></button>
                </div>
                <p>Stock: 99</p>

                <div class="input-group mb-3">
                    <input type="text" class="postal-code-input" placeholder="Código Postal">
                    <button class="btn btn-secondary btn-sm" type="button" id="button-addon2">Calcular Envío</button>
                </div>
                <a href="" class="postal-code-ancor">No sé mi código postal</a>
                <br>
                <br>
                <div class="product-button-section">
                    <button class="btn btn-primary product-button" type="button" id="button-addon2">Comprar</button>
                    <br>
                    <br>
                    <button class="btn btn-outline-primary product-button" type="button" id="button-addon2">Agregar al carrito</button>
                </div>
            </div>
        </div>
    </section>

    <footer></footer>

</body>
</html>