<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="css/estilos.css" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <title>Producto</title>
</head>
<body>
    
    <header></header>
    
    <section class="section-product">
        <div class="row">
            <div class="col-8">
                <div class="product-principal-img" >
                    <img src="/img/productos/2000_5f31e6183743c.jpg" alt="" class="principal-photo" >
                </div>
                <div class="product-secondary-imgs">
                    <img src="/img/productos/2000_5e978cca7490a.jpg" alt="" class="secondary-photo">
                    <img src="/img/productos/2000_5eff33d99633b.jpg" alt="" class="secondary-photo">
                    <img src="/img/productos/2000_5eff43ca88f1e.jpg" alt="" class="secondary-photo">
                    <img src="/img/productos/2000_5f4579eaa2e41.jpg" alt="" class="secondary-photo">
                    <!-- <img src="/img/productos/2000_60dbada576d0c.jpg" alt="" class="secondary-photo"> -->
                </div>

                <div>
                    <h3>Descripcion del Producto</h3>
                    <p>SKU: R009</p>
                    <p>Precio minorista $900</p>

                    <h3>Otras personas también buscaron</h3>
                    <img src="/img/productos/2000_5e978cca7490a.jpg" alt="" class="secondary-photo">
                    <img src="/img/productos/2000_5eff33d99633b.jpg" alt="" class="secondary-photo">
                    <img src="/img/productos/2000_5eff43ca88f1e.jpg" alt="" class="secondary-photo">
                    <img src="/img/productos/2000_5f4579eaa2e41.jpg" alt="" class="secondary-photo">
                    <!-- <img src="/img/productos/2000_60dbada576d0c.jpg" alt="" class="secondary-photo"> -->
                </div>
            </div>

            <div class="col" style="border: solid #6c757d 2px;">
                <h3>Argolla c/ Hoja Raya 1,1 CM <i class="far fa-heart"></i> <i class="fas fa-share-alt"></i></h3>
                <p style="font-size: 0.7rem;">Página de inicio / PRODUCTOS / AROS / ARGOLLAS / ARGOLLA C/ HOJA RAYA 1,1 CM</p>
                <p>$700</p>
                <p>Precio minorista $900</p>

                <div class="input-group mb-3">
                    <button class="btn btn-secondary btn-sm" type="button" id="button-addon1"><i class="fas fa-minus"></i></button>
                    <input type="text" class="" placeholder="" value="1" style="width: 50px; border-color: #6c757d; border-width: 1px;">
                    <button class="btn btn-secondary btn-sm" type="button" id="button-addon2"><i class="fas fa-plus"></i></button>
                </div>
                <p>Stock: 99</p>

                <div class="input-group mb-3">
                    <input type="text" class="" placeholder="Código Postal" style="width: 120px; border-color: #6c757d; border-width: 1px;">
                    <button class="btn btn-secondary btn-sm" type="button" id="button-addon2">Calcular Envío</button>
                </div>
                <p>No sé mi código postal</p>
                <button class="btn btn-primary" type="button" id="button-addon2">Comprar</button>
                <button class="btn btn-outline-primary" type="button" id="button-addon2">Agregar al carrito</button>
            </div>
        </div>
    </section>

    <footer></footer>

</body>
</html>