
html  {
    overflow-x: hidden;
}

/* ////////////////////////////////////////// */
/* aca empiezan los stilos del home */
/* ////////////////////////////////////////// */

.banner {
    height: 40vh;
}

.section-about {
    background-color: #f7f7f7;
    /* padding: 25rem 0; */
    /* height: 5vh; */
    padding-top: 10rem;
    height: 40rem;
    /* padding-bottom: 10rem; */
}

/* .row-catalog {
    transform: translate(0%, -100%);
} */

.row {
    max-width: 114rem;
    margin: 0 auto; 
}
.row .col-1-of-2 {
    padding-left: 2.5rem;
    width: calc((100% - 6rem) / 2); 
}
.row .col {
    padding-left: 2.5rem;
}
.row .col-8 {
    padding-left: 2.5rem;
}

.heading-tertiary {
    font-size: 1.6rem;
    font-weight: 700;
    text-transform: uppercase; 
}

.u-margin-bottom-small {
    margin-bottom: 1.5rem !important; 
}

.paragraph {
    font-size: 1.6rem;
}

.composition {
    position: relative;
}
.composition__photo {
    width: 50vh;
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.4);
    border-radius: 2px;
    position: absolute;
    z-index: 10;
    transition: all .2s;
    background: #000000;
    cursor: pointer;
}
.composition__photo--p1 {
    height: 30vh;
    width: 50vh;
}
.composition__photo--p2 {
    height: 30vh;
    width: 50vh;
}
.composition__photo--p3 {
    height: 30vh;
    width: 50vh;
}
.composition__photo--p4 {
    height: 30vh;
    width: 50vh;
}
.composition__photo__position--p1 {
    left: 0;
    top: -2rem;
}
.composition__photo__position--p2 {
    right: 5%;
    top: 0rem;
}
.composition__photo__position--p3 {
    left: 15%;
    top: 8rem;
}
.composition__photo__position--p4 {
    left: 30%;
    top: 3rem;
}
.composition__photo:hover {
    /* outline: 0.2rem solid #BFA980; */
    outline: 0.4rem solid #f2dac4;
    transform: scale(1.05) translateY(-0.5rem);
    box-shadow: 0 2.5rem 4rem rgba(0, 0, 0, 0.5);
    z-index: 20;
}

.composition__photo:hover img {
    opacity: .4;
    transition: .3s;
}
.composition:hover .composition__photo:not(:hover) {
    transform: scale(0.95);
}

.text-top-left {
    /* position: absolute;
    top: 8px;
    left: 16px;
    font-weight: bold;
    font-size: 3vh;
    text-shadow: 2px 0 0 #fff, -2px 0 0 #fff, 0 2px 0 #fff, 0 -2px 0 #fff, 1px 1px #fff, -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff; */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 5vh;
    /* display: none; */
    visibility: hidden;
    position: absolute;
    color: white;
}

.composition__photo:hover .text-top-left {
    /* top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 5vh; */
    /* transition: 0.3s; */
    visibility: visible;
    /* display: block; */
    /* transition: 9s !important; */
}
/* ///////////////////////////////////
        CONTACTO FORM 
/////////////////////////////////// */

.contacto{
    display: flex;
    background-color: #f7f7f7;
  }
  .contact-form{
    max-width: 50vw;
    margin: left;
    padding: 30px;
    display: inline;
  }
  #map {    
    height: 20% !important;
    width: 10% !important;
    overflow: visible !important;
    position: absolute !important;
    margin-top: 20%;
    margin-left: 50%;
  }
  .text-danger{
      color: 'red';
  }

/* ////////////////////////////////////////// */
/* aca comienzan los estilos de los productos */
/* ////////////////////////////////////////// */

.section-product {
    background-color: #f7f7f7;
    padding-top: 1rem;
}

.section-product-left-side {
    display: inline;
    border-right: solid #6c757d 1px;
}

.section-product-right-side {
    padding-top: 1.5rem;
    top: 0;
    position: sticky;
    height: 100vh;
}

.product-principal-img {
    text-align: center;
}

.principal-photo {
    width: 70vh; 
    
    height: 90vh;
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.25);
}

.product-secondary-imgs {
    display: flex;
    justify-content: space-between;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-top: 1.5rem;
    padding-bottom: 3rem;
}

.secondary-photo {
    width: 29vh;
    height: 20vh;
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.3);
}

.price {
    font-weight: bold;
    font-size: large;
}

.title-otras-personas {
    padding-left: 2rem;
}

.breadcrum {
    font-size: 0.7rem;
}

.amount-input {
    width: 50px;
    border-color: #6c757d;
    border-width: 1px;
}

.postal-code-input {
    width: 120px;
    border-color: #6c757d;
    border-width: 1px;
}

.product-button-section {
    text-align: center;
}

.product-button {
    border-radius: 100px !important;
    border: 2px solid !important;
    width: 160px !important;
}
#form-delete-btn {
    padding-top: 1rem;
}

/* ESTILOS GENERALES */
*{
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
    margin: 0;
    padding: 0;
}

/* ESTILOS HEADER */

.main-header{
    background-color: #F2DAC4;
}

/* Mitad superior - Logo, barra, lupa, registro, login y favoritos */

.main-header-top-bar{
    display: flex;
    justify-content: space-between;
    height: 130px;
}
.logo{
    width: 100%;
}
.logo-anchor{
    max-width: 200px;
}
.search-bar-box{
    width: 100%;
    display: flex;
    max-width: 700px;
}
.search-bar{
    height: 39px;
    width: 100%;
    font-size: 18px;
    margin: auto;
    border-radius: 2px;
    background-color: #fff;
    border: 0 rgba(0,0,0,.2);
    padding-left: 10px;
    font-family: inherit;

}
.search-bar-btn{
    width: 46px;
    border: 0 rgba(0,0,0,.2);
    background-color: #fff;
    height: 35px;
    z-index: 1;
    right: 55px;
    margin: auto;
    position: relative;
}
.search-icon{
    font-size: x-large;
    float: right;
}
.login-icon, .chart-icon, .fav-icon{
    padding-bottom: 7px;
}
.nav-right, .nav-left{
    list-style: none;
    display: flex;
}
.nav-left{
    margin-bottom: 0;
}
.nav-right{
    padding-right: 25px;
}
.nav-right-mobile{
    display: none;
}


/* Nav inferior */

.nav-left li {
    padding: 0px 18px 12px;
    font-size: larger;
    position: relative;
}
.nav-right li{
    padding: 12px;
    margin: auto;
    text-align: center;
}
.nav-left{
    justify-content: center;
}
.down-arrow {
    padding: 0px 8px;
    position: relative;
    bottom: -3px;
}
.header-drop-down{
    list-style: none;
    font-size: 12px;
    display: none;
    position: relative;
    right: 18px;
    top: 10px;
}
.ver{
    z-index: 800;
    position: absolute;
    background-color: #F2DAC4;
    left: -4px;
    opacity: 85%;
    border-radius: 7%;
}
.header-drop-down li{
    line-height: 0.8rem;
    padding-left: 40px;
    position: relative;
    top: -18px;
    font-weight: bold;

}
.nav-left li:hover ul{
    display: inline;
}
/* .nav-left li:hover i{
    display: none;
} */
a{
    text-decoration: none !important;
    color: #000000 !important;
}
.burger-icon{
    background-color: #fff;
    padding: 2%;
    color: #000000;
    border-radius: 15%;
    margin-left: 45%;
    margin-top: 15px;
    font-size: 20px;
    z-index: 200;
}
.burger-menu{
    display: none;
}

/* ESTILOS FOOTER */
.main-footer{
    background-color: #F2DAC4;
    padding: 20px;
    display: flex;
    justify-content: space-between;
}
.footer-titles{
    font-weight: bold;
    padding-bottom: 10px;
    padding-left: 30px;
    font-size: 17px;
}
.footer-list{
    list-style: none;
    padding: 10px 30px;
}
.main-footer-left-box{
    display: flex;
    justify-content: space-between;
}
.main-footer-left-box li{
    padding-bottom: 10px;
}
.main-footer-right-box{
    display: flex;
    font-size: 13px;
    text-align: left;
    padding-right: 7vh;
    font-weight: bold;
    position: relative;
    top: -20px;
}
.main-footer-right-box i{
    font-size: xx-large;
    position: relative;
    top: 1.5rem;
    right: 2.5rem;
}
.location-icon{
    color: #E61A23;
}
.wtsp-icon{
    color: #4DCC5B;
}
.insta-icon{
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}
.fcbk-icon{
    color: #3b5998;
}
.mail-icon{
    color: #C92C19;
}

/* .modal-content {
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.4);
} */

/* .modal-backdrop.show
{
    display: none !important;
} */

.modal-open {
    padding-right: 0px !important;
}

/* /////////////////////////// */
/* aca empieza el login1 */
/* /////////////////////////// */

.login{
    background-color: #F2DAC4;
    margin: auto;
    max-width: 500px;
    width: 100%;
    height: 600px;
    border: solid 1px black;
    padding: 10px;
    text-align: center;
}

.controlForm{
    padding: 10px;
    margin: 1px;
}

/* input::placeholder{
    font-size: 150%;
    font-weight: bold;
} */

#fpassword {
    text-align: right;
    position: absolute;
    font-size: 0.9rem !important;
    /* padding-right: 35%; */
    font-size: 1rem;
    /* display:block; */
    /* padding-bottom: 25px; */
}

#inicio{
    padding: 10px 25px;
    font-size: 20px;
    font-weight: bold;
}
#crearcta{
    font-size: 1rem;
    padding: 20px;
}

#fb, #google {
    width: 70%;
    padding: 12px;
    border: none;
    border-radius: 4px;
    margin: 5px 0;
    opacity: 0.85;
    display: inline-block;
    font-size: 17px;
    line-height: 20px;
    text-decoration: none;
}
#fb {
    background-color: #3B5998;
    color: white;   
  }
#google {
    background-color: #dd4b39;
    color: white;
}
#fb:hover,
#google:hover {
  opacity: 1;
}

/* /////////////////////////// */
/* Carrito de compras */
/* /////////////////////////// */

#carrito{
    background-color: #a9abab;
    border: solid 1px black;
    height: 90%;
    max-width: 500px;
}
.carrito-header{
    padding: 5px 10px;
}
.cajaProducto{
    border: solid 1px black;
    max-width: 90%;
    max-height: 50%;
    background-color: #F2DAC4;
    padding: 10px;
    margin: 10px;
    display: flex;
    justify-content: space-between;
}

.cajaProducto img {
    max-height: 80px;
    max-width: 80px;
}

.descripcion{
    display: flex;
    flex-direction: column;
    align-items: stretch;
    flex-basis: 60%;
}

.descripcion h4,p{
    margin: 0;
}
.cant{
    padding: 15px 0;
}

.eliminar{
    display: flex;
    align-items: stretch;
}
.eliminar p{
    padding: 0 5px 0 0;
}
.subtotal{
    padding-bottom: 15px;
}
.subtotal h3{
    text-align: right;
    margin-right: 9%;
}
.subtotal p{
    text-align: center;
    opacity: 0.8;
}
.envio{
    border: solid 1px grey;
    height: 6em;
    display: flex;
    flex-direction: column;
}
.envio-boton{
    padding: 10px 5px;
    /* font-size: 30px;  */
}
/* .envio a{
    padding: 0 5px;
} */
.carrito-footer{
    width: 100%;
    text-align: center;
}

.carrito-footer h2{
    text-align: right;
    margin-right: 9%;
}

.carrito-footer button, .carrito-footer a{
    display: block;
    width: 80%;
    margin: 5%;
    font-size: 30px;
}


/* /////////////////////////// */
/* aca empieza el registro */
/* /////////////////////////// */


.correo{
    font-size:5px;
}
.crear button{
    color:white;
    background-color:black;
    border:none;
    padding-top:8px;
    padding-left:25px;
    padding-bottom:8px;
    padding-right:25px;
    width:100%;
    display: inline-block;
}  
.contenedor h3 {
    padding-top:5px; 
    padding-bottom:5px;
    text-align: center;
}
.contenedor{
    margin: auto;
    width: 100%;
    padding: 15px;
    border:2px solid #F2DAC4;
    background-color:#F2DAC4
}
/* input[type=text] {
    width: 100%;
    padding: 12px 10px;
    margin: 5px 0;
    display: inline-block;
    border: 1px solid #F2DAC4;
    border-radius: 4px;
    box-sizing: border-box;
  }
  input[type=email] {
    width: 100%;
    padding: 12px 10px;
    margin: 5px 0;
    display: inline-block;
    border: 1px solid #F2DAC4;
    border-radius: 4px;
    box-sizing: border-box;
  } */
  .tenescuenta{
      /* display:inline-block; */
      /* padding-left:100px; */
      font-size: 0.8rem;
      text-align: right;
      margin-top: 5px;
  }

  .col-centered{
    margin: 0 auto;
    float: none;
  }
  
/*///////////////////////////////////////*/
/*////aca empieza EDITAR PRODUCTO ///////*/
/*//////////////////////////////////////*/

.dropbtn {
    background-color:white;
    color: black;
    padding: 16px;
    font-size: 16px;
    border: none;
    border-radius: 4px;
    margin-bottom:15px;
  }
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  .dropdown-content a:hover {
      background-color: #ddd;
    }
  .dropdown:hover .dropdown-content {
      display: block;
    }
  .dropdown:hover .dropbtn {
      background-color: #3b3b3b;
      color:white
    }
    .enviar button{
        color:white;
        background-color:#3b3b3b;
        border-radius: 4px;
        border:none;
        padding-top:8px;
        padding-left:25px;
        padding-bottom:8px;
        padding-right:25px;
        width:100%;
        display: inline-block;
        margin-top:30px 0;
    }
    .archivo{
        font-size: 14px;
        margin-top:5px 0;
    }
    .product-form-box{
        margin: auto;
        width: 100%;
        padding: 50px 0;
        background-color:#f7f7f7;
        text-align: center;
    }
    .product-form-box h3 {
        padding-top:5px; 
        padding-bottom:5px;
        
    }
    .product-form{
        max-width: 50vw;
        margin: auto;
    }

    .products-title {
        margin-left: 2rem;
        margin-bottom: 2rem;
        padding-top: 2rem;
    }

    .add-product {
        margin-left: 2rem;
    }

    .product-box {
        background-color: #ffffff;
        border-radius: 5px;
        overflow: hidden;
        transition: 300ms;
        margin: 20px;
        border: 1px solid #dddddd;
        width: 20rem;
      }
      
      .product-box a {
        display: block;
      }
      
      .product-box_image {
        border-bottom: 1px solid var(--light-gray);
      }
      
      .product-box_data {
        padding: 15px;
        position: relative;
        display: flex;
        align-items: center;
        flex-wrap: wrap;
      }
      
      .product-box_data h2 {
        font-size: 2.4em;
        font-weight: 300;
        margin: 0;
      }
      
      .product-box_data span {
        font-size: 1.5em;
        font-weight: 300;
        color: var(--green);
        margin: 0 0 0 10px;
      }
      
      .product-box_data p {
        font-size: 1.5em;
        width: 100%;
        color: var(--gray);
        margin: 0;
        /* height: 0; */
        transition: 300ms;
        height: 40px;
        margin-top: 15px;
        /* overflow: hidden; */
      }
      
      .product-box_data i {
        color: var(--green);
        font-size: 1.8em;
        width: 35px;
        height: 35px;
        text-align: center;
        border: solid 1px;
        border-radius: 50%;
        position: absolute;
        top: -15px;
        right: 15px;
        background-color: #ffffff;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: 300ms;
      }
      
      .product-box:hover {
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
        /* border: 2px solid #dddddd; */
      }
      
      .product-box:hover p {
        height: 40px;
        margin-top: 15px;
      }
      
      .product-box:hover i {
        transform: rotate(360deg);
        box-shadow: 0 0 5px var(--green);
      }
/* Perfil de usuario */

.perfil{
    background-color: #f7f7f7;
    display: flex;
    padding: 15px;
    justify-content: center;
}

.foto-de-perfil{
    outline: 0.4rem solid #f2dac4;
    width: 25%;
    height: 25%;
}
  /* VALIDACIONES */

.email-validation{
    color: red;
    display: none;
}
.pass-validation{
    color: red;
    display: none;
}
.register-pass-rePass{
    color: red;
    display: none;
}
.register-email-reEmail{
    color: red;
    display: none;
}
.register-avatar{
    color: red;
    display: none;
}

/* carrito de compras */

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 25;
    top: 0;
    right: 0;
    background-color: #a9abab;
    overflow-x: hidden;
    transition: 0.5s;
  }
  
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
  }

/* /////////////////////////////// */
/* ///////MEDIA QUERIES/////////// */
/* /////////////////////////////// */


/* ////////// Mobile ///////////// */
@media screen and (max-width: 415px){
    .main-header-top-bar li{
        display: none;
    }
    .main-header-top-bar{
        height: 110px;
    }
    .logo{
        width: 85%;
    }
    
    .nav-right-mobile{
        display: flex;
        z-index: 200;
        list-style: none;
        position: relative;
        margin: 0;
    }
    .login-icon, .chart-icon{
        position: absolute;
        left: 90vw;
        top: -4vh;
        font-size: 1.3rem;
        padding-bottom: 0;
    }
    .login-icon{
        left: 82vw !important;
    }
    .main-header-bottom-bar{
        display: none;
    }
    .search-bar-box{
        flex-direction: column;
        padding-top: 20px;
      
    }
    .search-bar-btn{
        right: 0px;
        top: -45px;
        left: 78px;
    }
    .search-bar{
        font-size: 12px;
    }
    .burger-icon{
        display: inline-block;
        position: absolute;
        top: -33px;
        left: -120px;
    }
    .burger-menu{
        display: flex;
        position: relative;
    }
    .product-form {
        max-width: 80vw;
        margin: auto;
    }
    /* FOOTER EN MEDIA Q */

    .main-footer{
        flex-direction: column;      
        align-items: center;
        padding-right: 2rem;
    }
    .main-footer-right-box li{
        display: none;
    }
    .main-footer-right-box{
        display: flex;
        justify-content: space-between;
        top: -3rem;
        left: 8vh;
    }
    .no-mobile-list{
        display: none;
    }
    .main-footer-right-box i {
        font-size: xx-large;
        padding: 10px 4px 0px;
    }
    .main-footer-left-box {
        flex-direction: column;
        text-transform: uppercase;
    }
    .footer-titles{
        padding: 10px 10px 10px;
        text-align: center;
        background-color: #000000;
        color: #F2DAC4;
        border-radius: 8%;
    }
    .icons-box{
        margin-top: 30px;
    }

    .carousel {
        height: auto;
    }

    .section-about {
        height: 100%;
        padding-top: 5rem;
    }

    .section-about .row {
        display: block;
    }
   
    .section-about .col{
        padding-right: 1rem;
        display: block;
    }

    .composition {
        padding-top: 1.5rem;
        padding-bottom: 1.5rem;
    }

    .composition__photo__position--p1, .composition__photo__position--p2, .composition__photo__position--p3, .composition__photo__position--p4 {
        display: block;
        position:unset;
        /* left: 0;
        top: 0; */
        margin-bottom: 20px;
    }

    .composition__photo:hover {
        outline: 0.4rem solid #f2dac4;
        transform: scale(1) translateY(0rem);
        box-shadow: 0 2.5rem 4rem rgba(0, 0, 0, 0.5);
    }
    
    .composition:hover .composition__photo:not(:hover) {
        transform: scale(1);
    }

    .perfil{
        background-color: #f7f7f7;
        display: block;
        padding: 15px;
        justify-content: center;
    }
    
    .foto-de-perfil{
        outline: 0.4rem solid #f2dac4;
        width: 75%;
        height: 75%;
        margin: 10%;
    }

}


/* ////////// Tablet ///////////// */
@media screen and (max-width: 768px){
    .carousel {
        height: auto;
    }

    .section-about {
        height: 100%;
        padding-top: 5rem;
    }

    .section-about .row {
        display: block;
    }
   
    .section-about .col{
        padding-right: 1rem;
        display: block;
    }

    .composition {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        width: 90vw;
        padding-top: 1.5rem;
        padding-bottom: 1.5rem;
    }

    .composition__photo__position--p1, .composition__photo__position--p2, .composition__photo__position--p3, .composition__photo__position--p4 {
        display: inline;
        position:unset;
        /* left: 0;
        top: 0; */
        margin-bottom: 20px;
    }

    .composition__photo:hover {
        outline: 0.4rem solid #f2dac4;
        transform: scale(1) translateY(0rem);
        box-shadow: 0 2.5rem 4rem rgba(0, 0, 0, 0.5);
    }
    
    .composition:hover .composition__photo:not(:hover) {
        transform: scale(1);
    }

  
}
