<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partials/head') %>
  <title>Perfil</title>
</head>
<body>
<!-- Header -->
<%- include('../partials/header') %> 
<!-- Main -->

    <section class="perfil">
        <img src="/img/users/964a9c5ac9933cc012d0bd80be.jpg" alt="" class="foto-de-perfil" >

        <div style="padding-left: 25px;">
            <h4>Nombre:</h4>
            <h5>Elsa Pallo</h5>
            <br>
            <h4>Email:</h4>
            <h5>elsapallo77@pepe.com</h5>
            <br>
            <button class="btn btn-primary product-button" type="button" id="button-perfil">Editar Datos</button>
        </div>
    </section>

<!-- Footer -->
<%- include('../partials/footer') %>     
</body>
</html>
