<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partials/head') %>
  <title>Home</title>
</head>
<body>
<!-- Header -->
<%- include('../partials/header') %> 
<!-- Main -->
    <div class="product-form-box" >
        <!-- <i class="far fa-times-circle"></i> !-->
        <h3>Agregar Producto</h3>
        <form action="/products/agregar" method="POST" class="product-form">
        
            <div class="form-floating mb-2">
                <input type="text" class="form-control" id="registroNombre" name= "name"  placeholder="Nombre"></input>
                <label for="registroNombre">Nombre:</label>
            </div>
            <div class="form-floating mb-2">
                <input type="number" class="form-control" id="registroPrecio" name= "price" placeholder="Precio"></input>
                <label for="registroPrecio">Precio:</label>
            </div> 
            <div class="form-floating mb-2">
                <input type="text" class="form-control" id="registroMedida" name= "measure" placeholder="Medida"></input>
                <label for="registroMedida">Medida:</label>
            </div>
            <div class="form-floating mb-2">
                <input type="number" class="form-control" id="registroStock" name= "stock" placeholder="Stock"></input>
                <label for="registroStock">Stock:</label>
            </div>
            <div class="dropdown">
                <button class="dropbtn" type="button">Tipo Producto</button>
                <div class="dropdown-content">
                    <a href="#">Aros</a>
                    <a href="#">Anillos y Midis</a>
                    <a href="#">Cadenas y Dijes</a>
                    <a href="#">Pulseras</a>
                    <a href="#">Tobilleras</a>
                    <a href="#">Accesorios</a>
                    <a href="#">Ruanas y Pañuelos</a>
                    <a href="#">Ellos</a>
                    <a href="#">Oulet</a>
                </div>
            </div>
                 
                <div class="archivo"action="/action_page.php">
                    <label for="myfile">Foto del Producto:</label>
                <input type="file" id="myfile" name="myfile"><br><br>    
                </div>
            <div class="enviar">
                <button type="submit">Enviar</button>
            </div>
            <br>
            <div class="enviar">
                <button type="reset">Borrar Datos</button>
            </div>
        </form>
        <!-- <div>
            <p class="tenescuenta">Ya tenés cuenta?  <a href="/Login">Iniciá sesión acá</a></p>
        </div> -->
    </div>
<!-- Footer -->
<%- include('../partials/footer') %>     
</body>
</html>
